:root {
  --background: #fdf6e3;
  --softblack: #002b36;
}

.App {
  position: relative;
  z-index: 1;
  display: flex;
}

.background {
  background-color: var(--background);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

.nhv-blocks {
  stroke: var(--softblack);
  fill: none;
  opacity: 0;
  stroke-width: 2;
  stroke-dasharray: 100 10;
}

.calendar {
  height: 100vh;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  margin: 10px;
}

.calendar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.quoteContainer {
  margin: auto auto 10px auto;
}

.quoteBody {
  font-size: 1.6em;
  max-height: 300px;
  overflow: auto;
}
.quoteBody::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
